* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    user-select:none;
    font-size:1rem
}
h1{
font-size:30px ;
}

h1{
font-size:25px ;
}

h3{
font-size:20px ;
}

h4{
font-size:15px ;
}

body{
    color:#1F6521;
    background-color: #E5E5E5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width:200px;